
.icon-envelope:before { content: '\e800'; } /* '' */
.icon-university:before { content: '\e801'; } /* '' */
.icon-male:before { content: '\e802'; } /* '' */
.icon-linkedin-square:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-github-square:before { content: '\e805'; } /* '' */